$black-color: #323232;
$bg-hover: #f5f5f5;

.navbar {
  width: 5rem;
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;

  img {
    width: 100%;
  }

  &:hover .link-text {
    visibility: visible;
    opacity: 1;
    border: 1px solid white;
    background-color: $black-color;
    border-radius: 0.5rem;
    color: white;
  }
}

.my-brand {
  display: flex;
  align-items: center;
}

.my-brand-logo {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.navbar-item {
  display: flex;
  align-items: center;
}

.link-text {
  transition: visibility 0s, opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
  margin-left: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}
