/* css meyer untuk melakukan css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style untuk website kita */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: #323232;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #d7dde8;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #757f9a;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #323232;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 5.5rem;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.nav-link img {
  width: 2rem;
  margin: 1.5rem;
}
.nav-link:hover .link-text {
  display: block;
}
.nav-link:hover img {
  display: none;
}

.my-brand {
  display: flex;
  align-items: center;
}

.my-brand-logo {
  width: 100%;
  overflow: hidden;
}
.my-brand-logo img {
  width: 100%;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.link-text {
  display: none;
  font-size: 1.2rem;
}

.landing-section {
  display: flex;
  width: 75%;
  height: 100vh;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.social ul {
  display: flex;
  flex-direction: column;
  line-height: 60px;
}
.social ul a {
  font-size: 2rem;
  font-weight: 500;
  padding: 5px;
  transition: 0.3s;
}
.social ul a:hover {
  background-color: #323232;
  color: white;
}

.introduction h1 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 80px;
  text-align: left;
}

.project-section {
  width: 75%;
  margin: 100px auto 0;
}

.projects-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-project {
  width: 30%;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 0.3em;
  margin: 15px;
}

.project-thumbnail {
  border-bottom: 1px solid #dbdbdb;
}
.project-thumbnail img {
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 10px 10px;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}
.project-info .project-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.project-info .project-title span {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 25px;
}
.project-info .project-action {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.project-info .project-action a {
  background-color: #323232;
  font-size: 1.2rem;
  padding: 10px 30px;
  color: white;
  transition: 0.3s;
}
.project-info .project-action a:hover {
  background-color: #f97068;
  color: #323232;
}

.project-description {
  padding: 10px;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: justify;
}

.about-section {
  width: 75%;
  margin: 150px auto;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.download-cv {
  display: flex;
  align-self: flex-start;
}

.about-me {
  width: 60%;
}
.about-me p {
  font-size: 1.2rem;
  line-height: 30px;
  text-align: justify;
}
.about-me h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 15px;
}
.about-me .about-card {
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.btn-download {
  padding: 1.2em;
  font-size: 1.2em;
  background-color: #323232;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn-download:hover {
  background-color: #f97068;
  color: #323232;
}

.quotes {
  width: 70%;
  margin: 50px auto 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quotes p {
  line-height: 30px;
}
.quotes strong {
  font-weight: 700;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 100px auto 200px;
}

.quest {
  display: flex;
  width: 60%;
  align-items: center;
  align-self: flex-start;
}
.quest p {
  font-size: 2rem;
  padding: 0.75em;
  margin-left: 20px;
  background-color: #323232;
  color: white;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.photo img {
  width: 100%;
}

.contact-card {
  padding: 1em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  width: 70%;
  border-radius: 0.3em;
  line-height: 40px;
}
.contact-card h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.contact-card p {
  font-size: 1.5rem;
}

footer {
  padding: 1em;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  background-color: #323232;
  color: white;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

strong {
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .landing-section,
.project-section,
.about-section,
.contact-section {
    width: 90%;
  }

  .navbar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    top: unset;
    height: 4rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }
  .nav-link img {
    width: 2rem;
  }
  .nav-link:hover .link-text {
    display: none;
  }
  .nav-link:hover img {
    display: block;
  }

  .my-brand {
    display: none;
  }

  .link-text {
    display: none;
  }

  .landing-section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    display: flex;
    text-align: center;
    margin-top: 30px;
  }
  .social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 35px;
  }
  .social ul a {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px;
    transition: 0.3s;
  }
  .social ul a:hover {
    background-color: #323232;
    color: white;
  }

  .about-content {
    justify-content: space-between;
  }

  .btn-download {
    font-size: 1rem;
    padding: 1.1em;
  }

  .quest p {
    font-size: 1.3rem;
    padding: 0.75em;
  }

  .card-project,
.contact-card {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .about-me .about-card {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    top: unset;
    height: 2.5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
  }
  .nav-link img {
    width: 2rem;
  }
  .nav-link:hover .link-text {
    display: none;
  }
  .nav-link:hover img {
    display: block;
  }

  .my-brand {
    display: none;
  }

  .link-text {
    display: none;
  }

  .landing-section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    display: flex;
    text-align: center;
    margin-top: 30px;
  }
  .social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 35px;
  }
  .social ul a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px;
    transition: 0.3s;
  }
  .social ul a:hover {
    background-color: #323232;
    color: white;
  }

  .introduction h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
  }

  .project-section {
    width: 90%;
  }

  .projects-container {
    flex-direction: row;
    margin-top: 50px;
  }

  .card-project {
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .project-thumbnail {
    display: none;
  }

  .project-info {
    flex-direction: row;
  }
  .project-info .project-title {
    width: 100%;
  }
  .project-info .project-title span {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .project-action a {
    border-radius: 0.1em;
    font-size: 1.1rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .about-section,
.contact-section {
    width: 90%;
    margin: 50px auto;
  }

  .quotes {
    width: 100%;
    margin: 50px auto 0;
    font-size: 1.1rem;
    text-align: center;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .download-cv {
    align-self: center;
  }

  .btn-download {
    font-size: 1.1em;
  }

  .about-me {
    width: 100%;
    margin-top: 30px;
  }
  .about-me p {
    font-size: 1rem;
  }
  .about-me h3 {
    font-weight: 700;
    font-size: 1.8rem;
  }
  .about-me .about-card {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .contact-section {
    flex-direction: column;
  }

  .quest {
    width: 100%;
    justify-content: space-between;
  }
  .quest p {
    font-size: 1.2rem;
    padding: 1em;
  }

  .photo {
    width: 72px;
    height: 72px;
    border-radius: 0;
  }

  .contact-card {
    width: 100%;
    margin-top: 50px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .contact-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contact-card p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
